* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-evenly;
}

.cabecalho nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    color: #F6EEE0;
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
}

.fundo {
    background: url("imagens/chocolate_granulado.png");
    background-size: cover;
}

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    background-size: cover;
    color: #F6EEE0;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

.home p {
    font-size: 30px;
}

.titulos {
    font-size: 50px;
    padding: 30px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #F6EEE0;
}

.brigadeiro {
    background: #A45C40;
    color: #F6EEE0;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 60px;
}

.titulo-cardapio {
    background: #A45C40;
}

.descricao-brigadeiro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    width: 400px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.descricao-brigadeiro p {
    font-size: 20px;
    font-family: 'Roboto';
}

.imagem-brigadeiro img {
    width: 300px;
    height: 300px;
    border:8px solid #C38370;
    border-radius: 10%;
}

.brigadeiro-reverse {
    flex-direction: row-reverse;
}

.caixas {
    background: #C38370;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}

.titulo-combos {
    background: #C38370;
}

.imagem-caixa {
    text-align: center;
}

.imagem-caixa img {
    width: 300px;
    height: 300px;
    border:8px solid #A45C40;
    border-radius: 10%;
}

.descricao-caixa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: 20px;
    align-items: center;
    width: 400px;
    font-family: 'Fredoka One', cursive;

}
.descricao-caixa p{
    font-family: 'Roboto';
}
.pedidos {
    background: #A45C40;
}

.informacoes-pedido {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 60px;
    padding: 40px;
    padding-right: 100px;
    align-items: center;
}

.pedidos p {
    color: #F6EEE0;
    padding: 8px;
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
}

.botaozap img {
    width: 150px;
    height: 150px;
    padding-top: 30px;

}

.sobrenos {
    background: #E4B7A0;
}

.titulo-sobrenos {
    color: #A45C40;
}

.informacoes-sobrenos {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    gap: 30px;
    font-size: 20px;
    color: #A45C40;
    font-family: 'Roboto';
}

.informacoes-sobrenos img {
    width: 400px;
}

footer {
    background: #A45C40;
    color: #F6EEE0;
    font-size: 14px;
    font-family: 'Roboto';
    text-align: center;
    padding: 10px;

}