* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.cabecalho {
    background: #bbbbbb;
    display: flex;
    justify-content: space-around;


}

.cabecalho nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    color: black;
    font-size: 28px;
}

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .3)),
        url("imagens/diversos.jpg");
    background-size: cover;
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.titulos {
    font-size: 50px;
    padding: 30px;
    text-align: center;
}

.brigadeiro {
    background: darkred;
    color: white;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 60px;
}

.titulo-cardapio {
    background: darkred;
    color: #bbbbbb;
}

.descricao-brigadeiro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.descricao-brigadeiro p {
    font-size: 20px;
}

.imagem-brigadeiro img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.brigadeiro-reverse {
    flex-direction: row-reverse;
}

.caixas {
    background: #bbbbbb;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}

.titulo-combos {
    background: #bbbbbb;
    color: darkred
}

.imagem-caixa {
    text-align: center;
}

.imagem-caixa img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.descricao-caixa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: 20px;
    align-items: center;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.pedidos {
    background: darkred;
}

.informacoes-pedido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding:100px;
    align-items: center;




}
.titulo-pedidos{
    color: #bbbbbb;
}
.pedidos p {
    color: #bbbbbb;
    padding: 5px;
    font-size: 20px;
}

.botaozap img {
    width: 100px;
    height: 100px;
}

.sobrenos{
    background: #bbb;
}

.informacoes-sobrenos{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    gap: 30px;
    font-size: 20px;
    color:darkred;
}

.informacoes-sobrenos img{
    width: 500px;
    border-radius: 20px;
}



footer{
    background: darkred;
    color: #bbbbbb;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}